@model IEnumerable<GameSureWebApp.Models.Product>

@{
    ViewData["Title"] = "Available Insurance Policies";
}

<body>
    <div class="home">
        <h1>Available Insurance Policies</h1>
        <h3 class="titles">Basic plans that cover your gaming devices</h3>

        <table width="100%" border="0" style="font-size: 14px" cellspacing="1" cellpadding="4" bgcolor="#EFF5FB" class="tabtop13">
            <tr>
            <tr>
                <th width="20%">Plan Name</th>
                <th width="15%">Plan Id</th>
                <th width="25%">Feature</th>
                <th width="15%">Mininal Length<br /> of Coverage (Month)</th>
                <th width="15%" text-align="center">Prince($)</th>
                <th width="10%" text-align="center">Action</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProdPlan</td>
                    <td>@item.Ptype</td>
                    <td>@item.PDescription</td>
                    <td align="center">12</td>
                    <td align="center">@item.Price</td>
                    <td align="center">
                        @using (Html.BeginForm("UserForm", "Home", FormMethod.Get))
                        {
                            <input type="hidden" name="ProdPlan" value="@item.ProdPlan" />
                            <input type="hidden" name="ProdPrice" value="@item.Price" />
                            <button type="submit">Buy now</button>
                        }
                    </td>
                </tr>

            }
            @*<tr>
                    <td>Plan E1-7</td>
                    <td>GMIP28966964</td>
                    <td>Earphones, DOTAKE Gaming Headphones & In-ear Earphones with Microphone and Volume Control,Wired Earbuds Noise Cancelling Headset with Heavy Bass High Sound Quality ,in-Ear Headphones Compatible with Most 3.5mm Devices</td>
                    <td align="center">12</td>
                    <td align="center">12.99</td>
                    <td align="center"><a href="/Home/UserForm">Buy now</a></td>
                </tr>
                <tr>
                    <td>Plan E1-2</td>
                    <td>GMIP44168820</td>
                    <td>GPD XD Plus [Latest HW & Most Stable UPDATE] Handheld Gaming Console 5" Touchscreen Android 7.0 Portable Video Game Player Laptop MT8176 Hexa-core CPU,PowerVR GX6250 GPU,4GB/32GB,Support Google Store</td>
                    <td align="center">12</td>
                    <td align="center">14.99</td>
                    <td align="center"><a href="/Home/UserForm">Buy now</a></td>
                </tr>
                <tr>
                    <td>Plan PS3-1</td>
                    <td>GMIP68760054</td>
                    <td>PS-3 Controller, Wireless PS-3 Controller Double Vibration Game Remote Control Joysticks Joypad for PS-3 with Charger Cable (Made by 3rd Party)</td>
                    <td align="center">16</td>
                    <td align="center">19.99</td>
                    <td align="center"><a href="/Home/UserForm">Buy now</a></td>
                </tr>
                <tr>
                    <td>Plan G1</td>
                    <td>GMIP70827219</td>
                    <td>Gigastone 128GB Micro SD Card, Gaming Plus, Nintendo-Switch Compatible, High Speed 100MB/s, 4K UHD Video Recording, Micro SDXC UHS-I A1 V30 U1 Class 10</td>
                    <td align="center">24</td>
                    <td align="center">185.14</td>
                    <td align="center"> <a href="/Home/UserForm">Buy now</a></td>
                </tr>
                <tr>
                    <td>Plan E1-8</td>
                    <td>GMIP34637575</td>
                    <td>Bluetooth Headphones Over Ear, Comfortable Wireless Headphones, Rechargeable 7.1 Surround Sound Headset, Microphone for VR E-Sports Headphones,LED Light Earphone</td>
                    <td align="center">24</td>
                    <td align="center">463.8</td>
                    <td align="center"> <a href="/Home/UserForm">Buy now</a></td>
                </tr>
                <tr>
                    <td>Plan RE1-12</td>
                    <td>GMIP51089853</td>
                    <td>Kinhank Super Console PC Box Retro Game Console & Powerful Mini PC in 1,Build-in 63000+ Games,5300+ 3D Games,Support PS1/PS2/PSP/DC/N64/Wii/SEGA Saturn</td>
                    <td align="center">12</td>
                    <td align="center">262.7</td>
                    <td align="center"><a href="/Home/UserForm">Buy now</a></td>
                </tr>
                <tr>
                    <td>Plan PS5-1</td>
                    <td>GMIP56904466</td>
                    <td>Controller for PS4, PS4 Controller, Manette PS4, Shineled Touch Panel Gamepad with Double Vibration, Light Bar, and Audio Function, Gaming Joystick Compatible with PS4 / Slim/Pro Console (Blue)</td>
                    <td align="center">36</td>
                    <td align="center">537.38</td>
                    <td align="center"> <a href="/Home/UserForm">Buy now</a></td>
                </tr>*@

        </table>



    </div>
</body>